# Operating System files
.DS_Store            # macOS system file

# Python bytecode
__pycache__/         # Python bytecode

# VScode project settings
.vscode/

# Archives
archive/

# Dataset files
data/

# Documentation
docs/

# Project Management
project_management/

# Obsidian Vault 
.obsidian/

- ECG classification/
references/

Makefile

code/pytorch/
code/report.md

# Jupyter Notebook
exploratory_data_analysis.ipynb
basic.ipynb