# Operating System files
.DS_Store            # macOS system file

# Python bytecode
__pycache__/         # Python bytecode

# VScode project settings
.vscode/

# Archives
archive/

# Dataset files
data/

# Documentation
docs/


Makefile

# Jupyter Notebook
notebooks/

# LaTeX
latex/
report/

# other folders
